.footer {
  margin-top: 1rem;
}

.footer button {
  color: rgb(26, 124, 163);
  margin-right: 10px;
  border: none;
  background-color: white;
  text-decoration: underline;
  font-size: 16px;
  padding: 0;
  text-transform: none;
}

.footer button:hover {
  cursor: pointer;
  background-color: white;
  text-decoration: underline;

}

.footer button:nth-last-of-type(1) {
  margin-left: 10px;
}
