.modal {
    position: absolute;
    top: 30%;
    left: 17%;
    /* background-color: rgb(241, 230, 230); */
    z-index: 1;
    width: 60%;
    /* margin: 30% auto; */
    height: auto;
    border: 2px solid black;
    border-radius: 6px;
    padding: 1rem;
    overflow: auto;
  /* animation-name: animatetop;
  animation-duration: 0.2s; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}

.closePopUp {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20;
}

/* .content {
    padding: 2rem;

} */

/* @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  } */